In [1]:
import pandas as pd

In [2]:
b22298_241102 = pd.read_csv("C:/Users/82106/Desktop/new_file/project/버스 정류장별 이용인원 분석/정류장별 이용량_20241102_22298.csv",encoding='cp949')
b22298_241102.drop(['정류장명','기종점'],axis =1,inplace = True)
b22298_241102['일자'] = 20241102
b22298_241102

,정류장번호,노선,일자,이용자유형,04(승차),04(하차),05(승차),05(하차),06(승차),06(하차),...,23(하차),00(승차),00(하차),01(승차),01(하차),02(승차),02(하차),03(승차),03(하차),Unnamed: 54
0,22298,411,20241102,일반인,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,NaN
1,22298,411,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,22298,411,20241102,청소년,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,22298,411,20241102,경로,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,22298,411,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
5,22298,140,20241102,일반인,0,0,0,6,0,10,...,15,0,7,0,0,0,0,0,0,NaN
6,22298,140,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
7,22298,140,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
8,22298,140,20241102,경로,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9,22298,140,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
10,22298,400,20241102,일반인,0,0,0,0,0,0,...,2,0,4,0,4,0,0,0,0,NaN
11,22298,400,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12,22298,400,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
13,22298,405,20241102,일반인,0,0,0,0,0,5,...,3,0,2,0,0,0,0,0,0,NaN
14,22298,405,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
15,22298,405,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
16,22298,405,20241102,경로,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
17,22298,405,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
18,22298,421,20241102,일반인,0,0,0,0,0,0,...,3,0,4,0,5,0,0,0,0,NaN
19,22298,421,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
20,22298,421,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
21,22298,421,20241102,경로,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
22,22298,421,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
23,22298,440,20241102,일반인,0,0,1,0,6,3,...,1,1,3,0,0,0,0,0,0,NaN
24,22298,440,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
25,22298,440,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
26,22298,440,20241102,경로,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
27,22298,440,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
28,22298,440,20241102,국가유공자,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
29,22298,441,20241102,일반인,0,0,0,0,9,5,...,3,7,1,0,0,0,0,0,0,NaN
30,22298,441,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
31,22298,441,20241102,청소년,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
32,22298,441,20241102,경로,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,NaN
33,22298,441,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
34,22298,4432,20241102,일반인,0,2,3,1,15,4,...,1,0,0,0,0,0,0,0,0,NaN
35,22298,4432,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
36,22298,4432,20241102,청소년,0,0,0,0,0,1,...,2,0,0,0,0,0,0,0,0,NaN
37,22298,4432,20241102,경로,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
38,22298,4432,20241102,장애인,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
39,22298,4432,20241102,국가유공자,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
40,22298,452,20241102,일반인,0,0,0,0,8,9,...,9,3,10,4,0,0,0,0,0,NaN
41,22298,452,20241102,어린이,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
42,22298,452,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
43,22298,452,20241102,경로,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,NaN
44,22298,452,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
45,22298,452,20241102,국가유공자,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
46,22298,470,20241102,일반인,0,0,3,2,21,16,...,1,0,0,0,0,0,0,0,0,NaN
47,22298,470,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
48,22298,470,20241102,경로,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
49,22298,470,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
50,22298,470,20241102,국가유공자,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
51,22298,741,20241102,일반인,0,0,2,1,12,5,...,1,0,0,0,0,0,0,0,0,NaN
52,22298,741,20241102,청소년,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
53,22298,741,20241102,경로,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,NaN
54,22298,741,20241102,장애인,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
55,22298,741,20241102,국가유공자,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [3]:
print(b22298_241102.columns)

Index(['정류장번호', '노선', '일자', '이용자유형', '04(승차)', '04(하차)', '05(승차)', '05(하차)',
       '06(승차)', '06(하차)', '07(승차)', '07(하차)', '08(승차)', '08(하차)', '09(승차)',
       '09(하차)', '10(승차)', '10(하차)', '11(승차)', '11(하차)', '12(승차)', '12(하차)',
       '13(승차)', '13(하차)', '14(승차)', '14(하차)', '15(승차)', '15(하차)', '16(승차)',
       '16(하차)', '17(승차)', '17(하차)', '18(승차)', '18(하차)', '19(승차)', '19(하차)',
       '20(승차)', '20(하차)', '21(승차)', '21(하차)', '22(승차)', '22(하차)', '23(승차)',
       '23(하차)', '00(승차)', '00(하차)', '01(승차)', '01(하차)', '02(승차)', '02(하차)',
       '03(승차)', '03(하차)', 'Unnamed: 54'],
      dtype='object')

In [4]:
b22298_241102 = b22298_241102.groupby(['정류장번호','노선','일자']).sum(numeric_only = True).reset_index()
b22298_241102.columns

Index(['정류장번호', '노선', '일자', '04(승차)', '04(하차)', '05(승차)', '05(하차)', '06(승차)',
       '06(하차)', '07(승차)', '07(하차)', '08(승차)', '08(하차)', '09(승차)', '09(하차)',
       '10(승차)', '10(하차)', '11(승차)', '11(하차)', '12(승차)', '12(하차)', '13(승차)',
       '13(하차)', '14(승차)', '14(하차)', '15(승차)', '15(하차)', '16(승차)', '16(하차)',
       '17(승차)', '17(하차)', '18(승차)', '18(하차)', '19(승차)', '19(하차)', '20(승차)',
       '20(하차)', '21(승차)', '21(하차)', '22(승차)', '22(하차)', '23(승차)', '23(하차)',
       '00(승차)', '00(하차)', '01(승차)', '01(하차)', '02(승차)', '02(하차)', '03(승차)',
       '03(하차)', 'Unnamed: 54'],
      dtype='object')

In [5]:
b22298_241102 = b22298_241102.iloc[:,0:2].join(b22298_241102.iloc[:,7:47])
b22298_241102

,정류장번호,노선,06(승차),06(하차),07(승차),07(하차),08(승차),08(하차),09(승차),09(하차),...,21(승차),21(하차),22(승차),22(하차),23(승차),23(하차),00(승차),00(하차),01(승차),01(하차)
0,22298,140,0,10,0,9,0,7,0,12,...,0,7,0,3,1,15,0,7,0,0
1,22298,400,0,0,0,6,0,8,0,3,...,0,2,0,6,0,2,0,4,0,5
2,22298,405,0,6,0,3,0,8,1,5,...,0,5,2,5,0,3,0,2,0,0
3,22298,411,0,1,0,6,0,1,0,4,...,0,2,0,2,0,1,0,0,0,0
4,22298,421,0,0,0,7,0,5,1,3,...,0,8,0,8,0,3,0,4,0,6
5,22298,440,6,3,10,11,16,5,9,9,...,7,2,14,5,10,1,1,3,0,0
6,22298,441,10,5,12,5,18,4,34,7,...,21,7,24,7,14,4,7,1,0,0
7,22298,452,8,9,11,1,16,14,16,6,...,20,7,18,7,11,9,4,10,4,0
8,22298,470,21,16,5,11,7,6,5,10,...,4,9,2,3,3,1,0,0,0,0
9,22298,741,13,5,5,7,17,11,9,12,...,8,5,11,9,5,1,0,0,0,0
10,22298,4432,16,6,23,9,15,11,21,12,...,9,11,17,9,3,3,0,0,0,0

In [6]:
b22296_241102 = pd.read_csv("C:/Users/82106/Desktop/new_file/project/버스 정류장별 이용인원 분석/정류장별 이용량_20241102_22296.csv",encoding ='cp949')
b22296_241102.drop(['정류장명','기종점'],axis =1,inplace = True)
b22296_241102['일자'] = 20241102
b22296_241102 = b22296_241102.groupby(['정류장번호','노선','일자']).sum(numeric_only = True).reset_index()
b22296_241102 = b22296_241102.iloc[:,0:2].join(b22296_241102.iloc[:,7:47])
b22296_241102

,정류장번호,노선,06(승차),06(하차),07(승차),07(하차),08(승차),08(하차),09(승차),09(하차),...,21(승차),21(하차),22(승차),22(하차),23(승차),23(하차),00(승차),00(하차),01(승차),01(하차)
0,22296,9404,1,0,1,0,3,0,1,0,...,6,0,4,1,4,1,1,1,0,0
1,22296,9408,2,0,0,0,9,1,12,0,...,1,3,6,0,5,1,0,0,0,0
2,22296,9409,0,0,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,0,0
3,22296,9711,0,0,0,1,0,2,0,3,...,0,1,1,0,0,0,0,1,0,0

In [7]:
b22296_22298_241102 = pd.concat([b22296_241102,b22298_241102])
b22296_22298_241102

,정류장번호,노선,06(승차),06(하차),07(승차),07(하차),08(승차),08(하차),09(승차),09(하차),...,21(승차),21(하차),22(승차),22(하차),23(승차),23(하차),00(승차),00(하차),01(승차),01(하차)
0,22296,9404,1,0,1,0,3,0,1,0,...,6,0,4,1,4,1,1,1,0,0
1,22296,9408,2,0,0,0,9,1,12,0,...,1,3,6,0,5,1,0,0,0,0
2,22296,9409,0,0,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,0,0
3,22296,9711,0,0,0,1,0,2,0,3,...,0,1,1,0,0,0,0,1,0,0
0,22298,140,0,10,0,9,0,7,0,12,...,0,7,0,3,1,15,0,7,0,0
1,22298,400,0,0,0,6,0,8,0,3,...,0,2,0,6,0,2,0,4,0,5
2,22298,405,0,6,0,3,0,8,1,5,...,0,5,2,5,0,3,0,2,0,0
3,22298,411,0,1,0,6,0,1,0,4,...,0,2,0,2,0,1,0,0,0,0
4,22298,421,0,0,0,7,0,5,1,3,...,0,8,0,8,0,3,0,4,0,6
5,22298,440,6,3,10,11,16,5,9,9,...,7,2,14,5,10,1,1,3,0,0
6,22298,441,10,5,12,5,18,4,34,7,...,21,7,24,7,14,4,7,1,0,0
7,22298,452,8,9,11,1,16,14,16,6,...,20,7,18,7,11,9,4,10,4,0
8,22298,470,21,16,5,11,7,6,5,10,...,4,9,2,3,3,1,0,0,0,0
9,22298,741,13,5,5,7,17,11,9,12,...,8,5,11,9,5,1,0,0,0,0
10,22298,4432,16,6,23,9,15,11,21,12,...,9,11,17,9,3,3,0,0,0,0

In [8]:
b22296_22298_241102.iloc[:,21:30]

    15(하차)  16(승차)  16(하차)  17(승차)  17(하차)  18(승차)  18(하차)  19(승차)  19(하차)
0        0      10       0       8       0      11       0       5       0
1        2       7       1       6       1       2       1       2       0
2        0       0       0       0       0       0       0       0       0
3        3       0       3       0       0       0       4       0       5
0       17       0      13       0      12       0      21       0      11
1        7       0       3       0       9       0       3       1       2
2        5       0      14       0       8       1       5       0       2
3        8       0       9       0       6       0       1       0       5
4        9       1      10       1      15       1       8       0      10
5       11      31      17      21       7      30      12      14       5
6       11      48      10      31       4      45       4      41       5
7       13      18       9      22      13      22       4      18       6
8       13       8      13       4       4       7       9       5       5
9       13      15       1      22      12      24      15      10       5
10      16      15      17      16      12      20       9      12       2

In [9]:
for n in range(6,10):
    b22296_22298_241102[f"0{n}시_승하차"] = b22296_22298_241102[f"0{n}(승차)"]+b22296_22298_241102[f"0{n}(하차)"]
    b22296_22298_241102 = b22296_22298_241102.drop([f"0{n}(승차)",f"0{n}(하차)"],axis = 1)
    
for n in range(10,24):
    b22296_22298_241102[f"{n}시_승하차"] = b22296_22298_241102[f"{n}(승차)"]+b22296_22298_241102[f"{n}(하차)"]
    b22296_22298_241102 = b22296_22298_241102.drop([f"{n}(승차)",f"{n}(하차)"],axis = 1)
    
for n in range(0,2):
    b22296_22298_241102[f"0{n}시_승하차"] = b22296_22298_241102[f"0{n}(승차)"]+b22296_22298_241102[f"0{n}(하차)"]
    b22296_22298_241102 = b22296_22298_241102.drop([f"0{n}(승차)",f"0{n}(하차)"],axis = 1)

b22296_22298_241102

,정류장번호,노선,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,...,16시_승하차,17시_승하차,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차,23시_승하차,00시_승하차,01시_승하차
0,22296,9404,1,1,3,1,3,3,5,7,...,10,8,11,5,3,6,5,5,2,0
1,22296,9408,2,0,10,12,7,6,0,3,...,8,7,3,2,1,4,6,6,0,0
2,22296,9409,0,0,0,6,4,7,1,1,...,0,0,0,0,1,0,0,0,1,0
3,22296,9711,0,1,2,3,1,2,8,4,...,3,0,4,5,2,1,1,0,1,0
0,22298,140,10,9,7,12,5,13,5,27,...,13,12,21,11,13,7,3,16,7,0
1,22298,400,0,6,8,3,3,7,1,1,...,3,9,3,3,4,2,6,2,4,5
2,22298,405,6,3,8,6,10,5,9,3,...,14,8,6,2,6,5,7,3,2,0
3,22298,411,1,6,1,4,2,4,3,1,...,9,6,1,5,1,2,2,1,0,0
4,22298,421,0,7,5,4,10,9,12,7,...,11,16,9,10,11,8,8,3,4,6
5,22298,440,9,21,21,18,23,23,23,16,...,48,28,42,19,16,9,19,11,4,0
6,22298,441,15,17,22,41,19,22,47,25,...,58,35,49,46,15,28,31,18,8,0
7,22298,452,17,12,30,22,11,39,21,22,...,27,35,26,24,24,27,25,20,14,4
8,22298,470,37,16,13,15,12,11,18,13,...,21,8,16,10,15,13,5,4,0,0
9,22298,741,18,12,28,21,9,26,16,22,...,16,34,39,15,9,13,20,6,0,0
10,22298,4432,22,32,26,33,39,31,22,19,...,32,28,29,14,19,20,26,6,0,0

In [10]:
b22296_22298_241102 = b22296_22298_241102.set_index('노선')
print(b22296_22298_241102.index)
b22296_22298_241102.index = b22296_22298_241102.index.astype(str)
    
b22296_22298_241102.loc[['9404','9408','9409','9711','140','400','405','411','421','440','441','452','470','741','4432'],'배차간격']= [7,15,25,12,7,12,15,14,12,11,10,12,10,10,12]
b22296_22298_241102

Index([9404, 9408, 9409, 9711, 140, 400, 405, 411, 421, 440, 441, 452, 470,
       741, 4432],
      dtype='int64', name='노선')

,정류장번호,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,14시_승하차,...,17시_승하차,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차,23시_승하차,00시_승하차,01시_승하차,배차간격
노선,,,,,,,,,,,,,,,,,,,,,
9404,22296,1,1,3,1,3,3,5,7,1,...,8,11,5,3,6,5,5,2,0,7.0
9408,22296,2,0,10,12,7,6,0,3,6,...,7,3,2,1,4,6,6,0,0,15.0
9409,22296,0,0,0,6,4,7,1,1,2,...,0,0,0,1,0,0,0,1,0,25.0
9711,22296,0,1,2,3,1,2,8,4,8,...,0,4,5,2,1,1,0,1,0,12.0
140,22298,10,9,7,12,5,13,5,27,9,...,12,21,11,13,7,3,16,7,0,7.0
400,22298,0,6,8,3,3,7,1,1,12,...,9,3,3,4,2,6,2,4,5,12.0
405,22298,6,3,8,6,10,5,9,3,20,...,8,6,2,6,5,7,3,2,0,15.0
411,22298,1,6,1,4,2,4,3,1,4,...,6,1,5,1,2,2,1,0,0,14.0
421,22298,0,7,5,4,10,9,12,7,7,...,16,9,10,11,8,8,3,4,6,12.0
440,22298,9,21,21,18,23,23,23,16,38,...,28,42,19,16,9,19,11,4,0,11.0
441,22298,15,17,22,41,19,22,47,25,44,...,35,49,46,15,28,31,18,8,0,10.0
452,22298,17,12,30,22,11,39,21,22,21,...,35,26,24,24,27,25,20,14,4,12.0
470,22298,37,16,13,15,12,11,18,13,13,...,8,16,10,15,13,5,4,0,0,10.0
741,22298,18,12,28,21,9,26,16,22,8,...,34,39,15,9,13,20,6,0,0,10.0
4432,22298,22,32,26,33,39,31,22,19,26,...,28,29,14,19,20,26,6,0,0,12.0

In [11]:
b22296_22298_241102['회/시간'] = round(60/b22296_22298_241102['배차간격'],2)
b22296_22298_241102

,정류장번호,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,14시_승하차,...,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차,23시_승하차,00시_승하차,01시_승하차,배차간격,회/시간
노선,,,,,,,,,,,,,,,,,,,,,
9404,22296,1,1,3,1,3,3,5,7,1,...,11,5,3,6,5,5,2,0,7.0,8.57
9408,22296,2,0,10,12,7,6,0,3,6,...,3,2,1,4,6,6,0,0,15.0,4.00
9409,22296,0,0,0,6,4,7,1,1,2,...,0,0,1,0,0,0,1,0,25.0,2.40
9711,22296,0,1,2,3,1,2,8,4,8,...,4,5,2,1,1,0,1,0,12.0,5.00
140,22298,10,9,7,12,5,13,5,27,9,...,21,11,13,7,3,16,7,0,7.0,8.57
400,22298,0,6,8,3,3,7,1,1,12,...,3,3,4,2,6,2,4,5,12.0,5.00
405,22298,6,3,8,6,10,5,9,3,20,...,6,2,6,5,7,3,2,0,15.0,4.00
411,22298,1,6,1,4,2,4,3,1,4,...,1,5,1,2,2,1,0,0,14.0,4.29
421,22298,0,7,5,4,10,9,12,7,7,...,9,10,11,8,8,3,4,6,12.0,5.00
440,22298,9,21,21,18,23,23,23,16,38,...,42,19,16,9,19,11,4,0,11.0,5.45
441,22298,15,17,22,41,19,22,47,25,44,...,49,46,15,28,31,18,8,0,10.0,6.00
452,22298,17,12,30,22,11,39,21,22,21,...,26,24,24,27,25,20,14,4,12.0,5.00
470,22298,37,16,13,15,12,11,18,13,13,...,16,10,15,13,5,4,0,0,10.0,6.00
741,22298,18,12,28,21,9,26,16,22,8,...,39,15,9,13,20,6,0,0,10.0,6.00
4432,22298,22,32,26,33,39,31,22,19,26,...,29,14,19,20,26,6,0,0,12.0,5.00

In [12]:
b22296_22298_241102.iloc[:,2:20] = round(b22296_22298_241102.iloc[:,2:20].div(b22296_22298_241102['회/시간'],axis=0),2)
b22296_22298_241102

,정류장번호,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,14시_승하차,...,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차,23시_승하차,00시_승하차,01시_승하차,배차간격,회/시간
노선,,,,,,,,,,,,,,,,,,,,,
9404,22296,1,0.12,0.35,0.12,0.35,0.35,0.58,0.82,0.12,...,1.28,0.58,0.35,0.70,0.58,0.58,0.23,0,7.0,8.57
9408,22296,2,0.00,2.50,3.00,1.75,1.50,0.00,0.75,1.50,...,0.75,0.50,0.25,1.00,1.50,1.50,0.00,0,15.0,4.00
9409,22296,0,0.00,0.00,2.50,1.67,2.92,0.42,0.42,0.83,...,0.00,0.00,0.42,0.00,0.00,0.00,0.42,0,25.0,2.40
9711,22296,0,0.20,0.40,0.60,0.20,0.40,1.60,0.80,1.60,...,0.80,1.00,0.40,0.20,0.20,0.00,0.20,0,12.0,5.00
140,22298,10,1.05,0.82,1.40,0.58,1.52,0.58,3.15,1.05,...,2.45,1.28,1.52,0.82,0.35,1.87,0.82,0,7.0,8.57
400,22298,0,1.20,1.60,0.60,0.60,1.40,0.20,0.20,2.40,...,0.60,0.60,0.80,0.40,1.20,0.40,0.80,5,12.0,5.00
405,22298,6,0.75,2.00,1.50,2.50,1.25,2.25,0.75,5.00,...,1.50,0.50,1.50,1.25,1.75,0.75,0.50,0,15.0,4.00
411,22298,1,1.40,0.23,0.93,0.47,0.93,0.70,0.23,0.93,...,0.23,1.17,0.23,0.47,0.47,0.23,0.00,0,14.0,4.29
421,22298,0,1.40,1.00,0.80,2.00,1.80,2.40,1.40,1.40,...,1.80,2.00,2.20,1.60,1.60,0.60,0.80,6,12.0,5.00
440,22298,9,3.85,3.85,3.30,4.22,4.22,4.22,2.94,6.97,...,7.71,3.49,2.94,1.65,3.49,2.02,0.73,0,11.0,5.45
441,22298,15,2.83,3.67,6.83,3.17,3.67,7.83,4.17,7.33,...,8.17,7.67,2.50,4.67,5.17,3.00,1.33,0,10.0,6.00
452,22298,17,2.40,6.00,4.40,2.20,7.80,4.20,4.40,4.20,...,5.20,4.80,4.80,5.40,5.00,4.00,2.80,4,12.0,5.00
470,22298,37,2.67,2.17,2.50,2.00,1.83,3.00,2.17,2.17,...,2.67,1.67,2.50,2.17,0.83,0.67,0.00,0,10.0,6.00
741,22298,18,2.00,4.67,3.50,1.50,4.33,2.67,3.67,1.33,...,6.50,2.50,1.50,2.17,3.33,1.00,0.00,0,10.0,6.00
4432,22298,22,6.40,5.20,6.60,7.80,6.20,4.40,3.80,5.20,...,5.80,2.80,3.80,4.00,5.20,1.20,0.00,0,12.0,5.00

In [13]:
mean_row = round(b22296_22298_241102.mean(),2)
b22296_22298_241102.loc['평균'] = mean_row
b22296_22298_241102

,정류장번호,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,14시_승하차,...,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차,23시_승하차,00시_승하차,01시_승하차,배차간격,회/시간
노선,,,,,,,,,,,,,,,,,,,,,
9404,22296.00,1.0,0.12,0.35,0.12,0.35,0.35,0.58,0.82,0.12,...,1.28,0.58,0.35,0.70,0.58,0.58,0.23,0.0,7.00,8.57
9408,22296.00,2.0,0.00,2.50,3.00,1.75,1.50,0.00,0.75,1.50,...,0.75,0.50,0.25,1.00,1.50,1.50,0.00,0.0,15.00,4.00
9409,22296.00,0.0,0.00,0.00,2.50,1.67,2.92,0.42,0.42,0.83,...,0.00,0.00,0.42,0.00,0.00,0.00,0.42,0.0,25.00,2.40
9711,22296.00,0.0,0.20,0.40,0.60,0.20,0.40,1.60,0.80,1.60,...,0.80,1.00,0.40,0.20,0.20,0.00,0.20,0.0,12.00,5.00
140,22298.00,10.0,1.05,0.82,1.40,0.58,1.52,0.58,3.15,1.05,...,2.45,1.28,1.52,0.82,0.35,1.87,0.82,0.0,7.00,8.57
400,22298.00,0.0,1.20,1.60,0.60,0.60,1.40,0.20,0.20,2.40,...,0.60,0.60,0.80,0.40,1.20,0.40,0.80,5.0,12.00,5.00
405,22298.00,6.0,0.75,2.00,1.50,2.50,1.25,2.25,0.75,5.00,...,1.50,0.50,1.50,1.25,1.75,0.75,0.50,0.0,15.00,4.00
411,22298.00,1.0,1.40,0.23,0.93,0.47,0.93,0.70,0.23,0.93,...,0.23,1.17,0.23,0.47,0.47,0.23,0.00,0.0,14.00,4.29
421,22298.00,0.0,1.40,1.00,0.80,2.00,1.80,2.40,1.40,1.40,...,1.80,2.00,2.20,1.60,1.60,0.60,0.80,6.0,12.00,5.00
440,22298.00,9.0,3.85,3.85,3.30,4.22,4.22,4.22,2.94,6.97,...,7.71,3.49,2.94,1.65,3.49,2.02,0.73,0.0,11.00,5.45
441,22298.00,15.0,2.83,3.67,6.83,3.17,3.67,7.83,4.17,7.33,...,8.17,7.67,2.50,4.67,5.17,3.00,1.33,0.0,10.00,6.00
452,22298.00,17.0,2.40,6.00,4.40,2.20,7.80,4.20,4.40,4.20,...,5.20,4.80,4.80,5.40,5.00,4.00,2.80,4.0,12.00,5.00
470,22298.00,37.0,2.67,2.17,2.50,2.00,1.83,3.00,2.17,2.17,...,2.67,1.67,2.50,2.17,0.83,0.67,0.00,0.0,10.00,6.00
741,22298.00,18.0,2.00,4.67,3.50,1.50,4.33,2.67,3.67,1.33,...,6.50,2.50,1.50,2.17,3.33,1.00,0.00,0.0,10.00,6.00
4432,22298.00,22.0,6.40,5.20,6.60,7.80,6.20,4.40,3.80,5.20,...,5.80,2.80,3.80,4.00,5.20,1.20,0.00,0.0,12.00,5.00
평균,22297.47,9.2,1.75,2.30,2.57,2.07,2.67,2.34,1.98,2.80,...,3.03,2.04,1.71,1.77,2.04,1.19,0.58,1.0,12.27,5.35

In [14]:
b22296_22298_241102.iloc[:,:18]

,정류장번호,06시_승하차,07시_승하차,08시_승하차,09시_승하차,10시_승하차,11시_승하차,12시_승하차,13시_승하차,14시_승하차,15시_승하차,16시_승하차,17시_승하차,18시_승하차,19시_승하차,20시_승하차,21시_승하차,22시_승하차
노선,,,,,,,,,,,,,,,,,,
9404,22296.00,1.0,0.12,0.35,0.12,0.35,0.35,0.58,0.82,0.12,1.05,1.17,0.93,1.28,0.58,0.35,0.70,0.58
9408,22296.00,2.0,0.00,2.50,3.00,1.75,1.50,0.00,0.75,1.50,0.75,2.00,1.75,0.75,0.50,0.25,1.00,1.50
9409,22296.00,0.0,0.00,0.00,2.50,1.67,2.92,0.42,0.42,0.83,0.00,0.00,0.00,0.00,0.00,0.42,0.00,0.00
9711,22296.00,0.0,0.20,0.40,0.60,0.20,0.40,1.60,0.80,1.60,0.60,0.60,0.00,0.80,1.00,0.40,0.20,0.20
140,22298.00,10.0,1.05,0.82,1.40,0.58,1.52,0.58,3.15,1.05,1.98,1.52,1.40,2.45,1.28,1.52,0.82,0.35
400,22298.00,0.0,1.20,1.60,0.60,0.60,1.40,0.20,0.20,2.40,1.40,0.60,1.80,0.60,0.60,0.80,0.40,1.20
405,22298.00,6.0,0.75,2.00,1.50,2.50,1.25,2.25,0.75,5.00,1.25,3.50,2.00,1.50,0.50,1.50,1.25,1.75
411,22298.00,1.0,1.40,0.23,0.93,0.47,0.93,0.70,0.23,0.93,1.86,2.10,1.40,0.23,1.17,0.23,0.47,0.47
421,22298.00,0.0,1.40,1.00,0.80,2.00,1.80,2.40,1.40,1.40,1.80,2.20,3.20,1.80,2.00,2.20,1.60,1.60
440,22298.00,9.0,3.85,3.85,3.30,4.22,4.22,4.22,2.94,6.97,4.95,8.81,5.14,7.71,3.49,2.94,1.65,3.49
441,22298.00,15.0,2.83,3.67,6.83,3.17,3.67,7.83,4.17,7.33,8.83,9.67,5.83,8.17,7.67,2.50,4.67,5.17
452,22298.00,17.0,2.40,6.00,4.40,2.20,7.80,4.20,4.40,4.20,5.60,5.40,7.00,5.20,4.80,4.80,5.40,5.00
470,22298.00,37.0,2.67,2.17,2.50,2.00,1.83,3.00,2.17,2.17,4.33,3.50,1.33,2.67,1.67,2.50,2.17,0.83
741,22298.00,18.0,2.00,4.67,3.50,1.50,4.33,2.67,3.67,1.33,5.33,2.67,5.67,6.50,2.50,1.50,2.17,3.33
4432,22298.00,22.0,6.40,5.20,6.60,7.80,6.20,4.40,3.80,5.20,6.00,6.40,5.60,5.80,2.80,3.80,4.00,5.20
평균,22297.47,9.2,1.75,2.30,2.57,2.07,2.67,2.34,1.98,2.80,3.05,3.34,2.87,3.03,2.04,1.71,1.77,2.04

In [15]:
def highlight_val(val):
    if(val<1):
        return 'background-color : green; color : white;'
        
    else:
        return ''
b22296_22298_241102.iloc[:,:19].style.map(highlight_val).format("{:.2f}")